:root {
    --black: black;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
    font-size: 18px;
    background-color: #FCF7FF;
}

body {
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img, picture, video, canvas, svg {
    max-width: 100%;
    height: auto;
    display: block;
}

input, button, textarea, select {
    font: inherit;
}

h1, h2, h3 {
    line-height: 1.1;
}

h1, 
h2,
h3,
h4,
h5,
h6,
p {
    overflow-wrap: break-word;
    max-width: 65ch;
}

header {
    background: linear-gradient(90.66deg, #84F12E 0%, #00FFC2 100%);
}

#desktop-menu ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
}

#desktop-menu > ul {
    justify-content: space-between;
}

li {
    margin: 10px 30px;
}

#header-logo {
    width: 80px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1rem;
}

a:hover {
    background-color: #10FFD4;
}

#hamburger-container {
    display: none;
}

.hero {
    background: linear-gradient(177.72deg, #778472 1.77%, #FCF7FF 97.85%);
    height: calc(50vh - 88.8px);
    display: flex;
    justify-content: center;
    align-items: center;

}

.content {
    display: grid;
    margin: 20px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.item {
    background: linear-gradient(203.69deg, #020887 22.07%, rgba(51, 65, 149, 0.53) 115.88%);
    height: 250px;
    border-radius: 10px;
    box-shadow: 5px 10px 15px #778472;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item > img {
    max-width: 65%;
}

footer {
    text-align: center;
    padding: 15px 0;
}

@media screen and (max-width: 760px) {
    html {
        font-size: 14px;
    }

    #desktop-menu {
        display: none;
    }

    #hamburger-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    #hamburger-header-logo {
        width: 70px;
        margin: 10px;
    }

    #hamburger-links {
        list-style: none;
        padding: 0 0 10px 0;
        /* display: none; */
    }

    #hamburger-links li {
        margin: 0 10px;
        text-align: center;
    }

    #hamburger-links a {
        border: none;
        padding: 0;
    }

    #hamburger-icon {
        border: none;
        width: 65px;
    }

    .item > img {
        max-width: 45%;
    }

}

@media screen and (max-width: 685px) {
    html {
        font-size: 14px;
    }
}